<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>forgetserv</servlet-name>
        <servlet-class>controller.forgetserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackserv</servlet-name>
        <servlet-class>controller.feedbackserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactserv</servlet-name>
        <servlet-class>controller.contactserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addflightserv</servlet-name>
        <servlet-class>controller.addflightserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtrainserv</servlet-name>
        <servlet-class>controller.addtrainserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addhotelserv</servlet-name>
        <servlet-class>controller.addhotelserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelPhotoserv</servlet-name>
        <servlet-class>controller.HotelPhotoserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <servlet-class>controller.DisplayPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPackPhoto</servlet-name>
        <servlet-class>controller.DisplayPackPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>controller.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightbookingserv</servlet-name>
        <servlet-class>controller.flightbookingserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fpassengerserv</servlet-name>
        <servlet-class>controller.fpassengerserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightpayserv</servlet-name>
        <servlet-class>controller.flightpayserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainbookingserv</servlet-name>
        <servlet-class>controller.trainbookingserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tpassengerserv</servlet-name>
        <servlet-class>controller.tpassengerserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainpayserv</servlet-name>
        <servlet-class>controller.trainpayserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelbookingserv</servlet-name>
        <servlet-class>controller.hotelbookingserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotlpayserv</servlet-name>
        <servlet-class>controller.hotlpayserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>packbookingserv</servlet-name>
        <servlet-class>controller.packbookingserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>packagepayserv</servlet-name>
        <servlet-class>controller.packagepayserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeserv</servlet-name>
        <servlet-class>controller.changeserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgetserv</servlet-name>
        <url-pattern>/forgetserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackserv</servlet-name>
        <url-pattern>/feedbackserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactserv</servlet-name>
        <url-pattern>/contactserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addflightserv</servlet-name>
        <url-pattern>/addflightserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtrainserv</servlet-name>
        <url-pattern>/addtrainserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addhotelserv</servlet-name>
        <url-pattern>/addhotelserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelPhotoserv</servlet-name>
        <url-pattern>/HotelPhotoserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPhotoServlet</servlet-name>
        <url-pattern>/DisplayPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPackPhoto</servlet-name>
        <url-pattern>/DisplayPackPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightbookingserv</servlet-name>
        <url-pattern>/flightbookingserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fpassengerserv</servlet-name>
        <url-pattern>/fpassengerserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightpayserv</servlet-name>
        <url-pattern>/flightpayserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainbookingserv</servlet-name>
        <url-pattern>/trainbookingserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tpassengerserv</servlet-name>
        <url-pattern>/tpassengerserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainpayserv</servlet-name>
        <url-pattern>/trainpayserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelbookingserv</servlet-name>
        <url-pattern>/hotelbookingserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotlpayserv</servlet-name>
        <url-pattern>/hotlpayserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>packbookingserv</servlet-name>
        <url-pattern>/packbookingserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>packagepayserv</servlet-name>
        <url-pattern>/packagepayserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeserv</servlet-name>
        <url-pattern>/changeserv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
